{% extends "main/base_template.html" %}
{% load crispy_forms_tags %}

{% block title %} 
   Roo.me - Search
{% endblock %}

{% block content %}
<div>
    <h1>Hey {{ loggedUser.first_name }}!</h1>
    <h2>Search for apartments now!</h2>
</div>
<div> 
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ searchForm|crispy }}
            <button type="submit">Search!</button>
        </fieldset>
    </form>
    <h8>*This preferences are temporary and can be modified.</h8>

</div>
{% endblock %}