{% extends "main/base_template.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card">
    <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Change your password:</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary mt-3" type="submit">Update</button>
                <a href="{% url 'update-user' %}" class="btn btn-primary mt-3">Back</a>
            </div>
        </form>
    </div>
</div>
{% endblock %} 