<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}roo.me{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/297bbe7878.js" crossorigin="anonymous"></script>

    <!-- Custom styles for this template -->
    <link href="../../static/css/navbar.css" rel="stylesheet">
  </head>

<!--BODY-->
  <body>

    <!--NAV BAR-->
    <nav class="navbar fixed-top navbar-expand-md navbar-light" style="background-color: #10d48e;">
      <a class="navbar-brand" href="/">
          <img src="../../static/img/navbar-logo.png" alt="roo.me" id="logo">
      </a>
      <a href="/logout" class="btn align-middle btn-primary ml-auto mr-3 order-lg-last" type="button">Log out</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        {% block navbar %}
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/contacts">Connections</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Search</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Account</a>
              </li>
          </ul>
        {% endblock %}
      </div>
    </nav>

    <!--CONTENT-->
    <main class="row main-body">
      <div class="col-md-2">
        {% block sidebar %}
        {% endblock %}
      </div>
      <div class="col-md-9">
        {% block content %}
        {% endblock %}  
      </div>
    </main>
    <!--FOOTER-->
    <footer class="container">
      {% block footer %}
        <p class="float-right"><a href="#">Back to top</a></p>
      {% endblock %}
    </footer>
  </body>
</html>

