{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
         <!-- Bootstrap core CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <title>roo.me - See you soon!</title>
    </head>
    <style>
        body { background-image: url(../../static/img/roomates-login.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        }
    </style>
    <body>
        <div style="position:fixed; left:900px; top:140px;">
            <h1>You have been logged out,<br> See you soon!</h1>

        </div>
</body>
</html>