{% extends "main/base_template.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card">
    <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">My Searching Targets</legend>
                {{ seeker_form|crispy }}
                <legend class="border-bottom mb-4 mt-3">My Preferences</legend>
                {{ qualities_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary mt-3" type="submit">Update</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}