body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

section {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/roommates-landing-page.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/roommates-landing-page.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

.my-btn:link,
.my-btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.my-btn-full:link,
.my-btn-full:visited,
input[type=submit] {
    background-color: #03ca77;
    border: 1px solid #03ca77;
    color: #fff;
    margin-right: 15px;
}

.my-btn-ghost:link,
.my-btn-ghost:visited {
    border: 1px solid #03ca77;
    color: #03ca77;
}

.my-btn:hover,
.my-btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #1aac6f;
}

.my-btn-full:hover,
.my-btn-full:active {
    border: 1px solid #1aac6f;
}

.my-btn-ghost:hover,
.my-btn-ghost:active {
    border: 1px solid #1aac6f;
    color: #fff;
}


